.padded-page{
  padding-top: 16px;
  padding-left: 2%;
  padding-right: 5%;
  width: 92%;
}
.action-button{
  position: sticky;
  bottom: 0;
  align-content: center;
  height: 7%;
  width: 93%;
  padding-right: 7%;
  padding-left: 2%;
  float:right;
}
.action-button-text {
  vertical-align: center;
}
