.vscode/launch.json
Lineup.Coach.Tests/bin/*
Lineup.Coach.Tests/obj/*
**/bin/*
**/obj/*
.vs/*
LineupCoach.db
.vscode/settings.json
LineupCoach.App/ClientApp/src/app/.deployment
LineupCoach.App/ClientApp/src/.deployment
LineupCoach.App/LineupCoach.App.csproj.user
