.vs/YouthSoccerLineup/DesignTimeBuild/.dtbcache
.vs/YouthSoccerLineup/v15/.suo
.vs/YouthSoccerLineup/v15/Server/sqlite3/db.lock
.vscode/tasks.json
.vs/YouthSoccerLineup/v15/Server/sqlite3/storage.ide
.vs/YouthSoccerLineup/v15/Server/sqlite3/storage.ide-shm
.vs/YouthSoccerLineup/v15/Server/sqlite3/storage.ide-wal
.vs/config/applicationhost.config
.vscode/launch.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineup.pdb
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineup.dll
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.csprojAssemblyReference.cache
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.deps.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.runtimeconfig.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.runtimeconfig.dev.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineupTests.dll
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineupTests.pdb
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineupTests.deps.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineupTests.runtimeconfig.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/YouthSoccerLineupTests.runtimeconfig.dev.json
YouthSoccerLineup.Tests/bin/Debug/netcoreapp2.1/u8Lineup.data.json
YouthSoccerLineup.Tests/obj/YouthSoccerLineup.Tests.csproj.nuget.cache
YouthSoccerLineup.Tests/obj/YouthSoccerLineup.Tests.csproj.nuget.g.props
YouthSoccerLineup.Tests/obj/YouthSoccerLineup.Tests.csproj.nuget.g.targets
YouthSoccerLineup.Tests/obj/YouthSoccerLineupTests.csproj.nuget.cache
YouthSoccerLineup.Tests/obj/YouthSoccerLineupTests.csproj.nuget.g.props
YouthSoccerLineup.Tests/obj/YouthSoccerLineupTests.csproj.nuget.g.targets
YouthSoccerLineup.Tests/obj/project.assets.json
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.AssemblyInfo.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.AssemblyInfoInputs.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.Program.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.assets.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.csproj.CoreCompileInputs.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.csproj.FileListAbsolute.txt
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineup.Tests.csprojAssemblyReference.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.dll
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.pdb
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.AssemblyInfo.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.AssemblyInfoInputs.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.Program.cs
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.assets.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.csproj.CopyComplete
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.csproj.CoreCompileInputs.cache
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/YouthSoccerLineupTests.csproj.FileListAbsolute.txt
YouthSoccerLineup.Tests/obj/Debug/netcoreapp2.1/project.razor.json
bin/Debug/netcoreapp2.1/YouthSoccerLineup.dll
bin/Debug/netcoreapp2.1/YouthSoccerLineup.pdb
bin/Debug/netcoreapp2.1/YouthSoccerLineup.deps.json
bin/Debug/netcoreapp2.1/YouthSoccerLineup.runtimeconfig.json
bin/Debug/netcoreapp2.1/YouthSoccerLineup.runtimeconfig.dev.json
bin/Debug/netcoreapp2.1/u8Lineup.data.json
obj/YouthSoccerLineup.csproj.nuget.cache
obj/YouthSoccerLineup.csproj.nuget.g.props
obj/YouthSoccerLineup.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.1/YouthSoccerLineup.dll
obj/Debug/netcoreapp2.1/YouthSoccerLineup.pdb
obj/Debug/netcoreapp2.1/YouthSoccerLineup.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/YouthSoccerLineup.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/YouthSoccerLineup.assets.cache
obj/Debug/netcoreapp2.1/YouthSoccerLineup.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.1/YouthSoccerLineup.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/YouthSoccerLineup.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.1/project.razor.json
