.padded-page {
  padding: 30px;
}
.mat-table {
  overflow: auto;
  width:100%;
//padding: 2px, 20px;
height: 100%;
}
.mat-header-cell {
  padding: 12px 4px 4px 0;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 2px 10px 4px 0;
}
.mat-grid-list {
  padding: 8px;
  width: 100%;
  height:100%;
}
.mat-grid-tile-header {
  height: 2px;
  font: 1em sans-serif;
  padding: 0px, 0px, 0px, 0px;
}
.mat-grid-tile {
  width:100%;
  padding: 2px, 30px;
  height: 100%;
}
