<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/83ca1400-fb2c-47f8-9955-66d8e8ff8735/resourceGroups/ccresources/providers/Microsoft.Web/sites/LineupCoach</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://lineupcoach.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>lineupcoach.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LineupCoach</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LineupCoach</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>