<p>Present?</p>
<mat-card *ngFor="let player of players">
  <mat-card-content>
  <mat-checkbox (change)="onCheckboxChecked($event, player);$event.stopPropagation()" [(ngModel)]="player.isPresent">
  </mat-checkbox>

  <span class="card-el">{{player.firstName}}</span>
  <mat-icon color="accent" class="material-icons; card-element-right" aria-hidden="false" aria-label="Edit Player Icon"
    (click)="openDialog(player, positions);$event.stopPropagation()">edit</mat-icon>
  </mat-card-content>
</mat-card>
