
  <div layout="row" layout-align="center center" style="min-height: 500px">
    <section class="mat-typography">
      <div flex="15" class="centered">
        <mat-toolbar class="centered" color="primary">
          {{ title }}
        </mat-toolbar>
      </div>
      <div class="centered">
      <h1>My Team</h1>
      <app-list-players></app-list-players>
      </div>
      <div class="centered">
        <button mat-flat-button color="primary" class="action-button">
          Generate Game Lineup
        </button>
      </div>
    </section>
  </div>

<router-outlet></router-outlet>
