<h2 mat-dialog-title>Order the Positions: Favorite at the Top</h2>
<mat-dialog-content>
  <mat-form-field appearance="standard">
    <mat-label>First Name</mat-label>
    <input
      matInput
      #first
      placeholder="{{ player.firstName }}"
      (keyup.enter)="addFirst(first.value)"
      (blur)="addFirst(first.value)"
    />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input
      matInput
      #last
      placeholder="{{ player.lastName }}"
      (keyup.enter)="addLast(last.value)"
      (blur)="addLast(last.value)"
    />
  </mat-form-field>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let position of positions" cdkDrag>
      {{ position }}
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</mat-dialog-actions>
